[alias]
	ap = add -p
	bd = branch -d
	branches = branch -a
	ca = commit --amend
	cf = commit --fixup
	cia = commit --amend --no-edit --no-verify
	cm = commit -m
	co = checkout
	cob = checkout -b
	cop = checkout -p
	cp = cherry-pick
	cpc = cherry-pick --continue
	dc = diff --cached
	p = push -u origin HEAD
	pf = p -f
	rc = rebase --continue
	reman = rebase main
	remain = rebase -i main
	remotes = remote -v
	ri = rebase -i
	ro = !sh -c 'git rebase --onto $1 $2 $(git rev-parse --abbrev-ref HEAD)' -
	sl = stash list
	sp = stash pop
	ss = stash
	st = status -sb
	tags = tag -l
[diff]
	wsErrorHighlight = all
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[rebase]
	autostash = true
[user]
	name = 
	email = 
